.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 6px 50px;
  font-size: 16px;
  font-weight: 600px;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.button-container-text {
  position: absolute;
  z-index: -1;
}

.button--default {
  background-color: #03aeee;
  box-shadow: 0px 3px 6px #bfeeff;
}

.button--default:hover {
  background-color: #0096e0;
}

.button--default:disabled {
  background-color: #9dd6f5;
  box-shadow: none;
}

.button--full-width {
  width: 100%;
}

.button--outline {
  color: #8a8c8f;
  background-color: white;
  border: 1px solid #8a8c8f;
}

.button--outline:hover {
  background-color: #f4f4f4;
}

.button--icon {
  padding: 18px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
