.site-header {
  background-color: white;
  width: 100lvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .header-item {
  width: 300px;
  background-color: #f9f9fe;
  display: block;
  text-align: center;
  padding: 0.5em 0;
}

.site-header .site-logo {
  width: 75%;
  display: inline-block;
}

.site-header .signout-div {
  margin-right: 24px;
}

.site-header .signout-button {
  background-color: #ff0121;
  color: white;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.site-header .signout-button:hover {
  background-color: #c21e34;
}
