.main-layout-aside {
  background-color: white;
  width: 300px;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-layout-aside .logo-container {
  width: 300px;
  background-color: #f9f9fe;
  display: block;
  text-align: center;
  padding: 0.5em 0;
}

.main-layout-aside .aside-logo {
  width: 75%;
  display: inline-block;
}

.main-layout-aside-nav {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.main-layout-aside-signout {
  margin: 42px 18px;
  width: calc(100% - 36px);
}

.main-layout-aside-signout svg path {
  stroke: #8a8c8f;
}
